@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: boder-box;
	font-family: 'Open Sans', sans-serif;
}

#menu-h ul {
	list-style: none;
	padding: 0;
	background-color: rgb(102, 136, 231);
	/*  rgb(37, 37, 39)  */
}

#menu-h ul li {
	display: inline;
}

#menu-h ul li a {
	color: #FFF;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
}

#menu-h ul li a:hover {
	background-color: rgb(24, 139, 233);
}





.carousel-item img {
	width: 1200px;
	height: 420px;

}

.container {
	width: 100%;
}

.log img {
	width: 40%;
}

/*-------------------------PÁGINA PRINCIPAL(HOME)----------------------------*/
/*nav {
	background-color: rgba(0, 0, 16, .9);
	border-radius: 10px;

width: 8vw;

height: 17%;

top: 5%;
margin-top: 0.05%;

left: -350px; //-150
position: absolute;
transition: all .7s;
}*/

/*aqui mudei agora*/

img {
	/*padding-top: .5%;
	padding-left: 5%;*/
	width: 70px;
	/*150*/
	margin-left: 2%;

}


.log {
	width: 30vw;
	/* 15*/

}

h2 {
	color: #FFD700;
}

a img {
	padding-right: 1.2vw;
	padding-top: 1.5vw;
	vertical-align: top;

}


.divTexto

/* margem para o texto na página principal*/
	{
	padding-left: 1.2vw;
}

.icones

/*icones na página home*/
	{
	float: center;
	width: 18vw;
	/*3.5*/
	height: 18vw;
	/*/3.5*/

}


.menu {
	list-style: none;
	float: left;
	padding-top: 10px; //20
	padding-bottom: 0.5px;
}

.menu li {
	position: relative;
	float: left;
	font-weight: 600;
	font-size: 5vw;
	width: 100%;
	display: inline-block;
	/*acrescentei*/
}


.menu li a {
	color: white;
	font-size: 1.1vw;
	/*1.2*/
	text-decoration: none;
	padding: 1px 20px;
	/*10  20*/
	display: block;
	/*block*/
}

.menu li a:hover {
	background: #abe1ed;
	color: black;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 3px 10px 0 #ccc;
	text-shadow: 0px 0px 5px #fff;
	height: 20%;
}


.menu li ul {
	position: absolute;
	top: 35px;
	/*35*/
	left: 70%;
	/*70*/
	background-color: rgba(0, 0, 16, .9);
	display: none;
	border-radius: 5px; //5
}


.menu li ul li {
	display: block;
	width: 120px;
}

.menu li:hover ul,
.menu li.over ul {
	display: block;
	z-index: 1;
}





label {

	padding: 50px;
	position: absolute;
	z-index: 1;
	/*faz com que um elemento fique na frente do outro*/
}

label:hover {
	cursor: pointer;
}


.ContLbl

/*Labels da página contato*/
	{
	position: relative;
	width: 90px;
	font-size: 1.5vw;
	cursor: auto;
}


ul {

	font-family: Arial;
	list-style: none;

}



#chec {
	display: none;

}

input[type="checkbox"]:checked~nav {
	transform: translateX(-350px);
}



ol {
	list-style: none;
}

#Princ

/* Id do Body principal*/
	{
	background-image: url(fundoFour.jpg);
	background-attachment: fixed;
	background-size: 100%;
	font-family: Segoe UI Black;
	color: #1a1a1a;
}

p {
	font-size: 1.3vw;
	padding: .5vw .5vw;

}

.titPrin1 {
	color: #2d3036;
	text-shadow: 1px 1px white;
	padding-left: 5px;
	font-size: 2.2vw;

}

.titPrin

/*Título h2*/
	{
	color: #4eb5de;
	text-shadow: 1px 1px black;
	padding-left: 5px;
	font-size: 2.2vw;

}


#imgSist

/* imagem do pc na página home*/
	{
	width: 25%;
	height: 25%;
	padding-right: 5%;

}



/*------------------------------------------*/

.footer

/*Rodapé*/
	{
	float: left;
	background: #91aed4;
	/* #448a9e   */
	color: #fff;
	height: 30%;
	width: 100%;
	padding: 1.5vw;
	position: bottom;
	border: 1px solid black;
	border-radius: 1vw;
}

.footer-col {
	width: 100%;
	float: left;
	margin-bottom: 1.5vw;
}


.footer-col h1 {
	font-size: 1.5vw;
	margin-bottom: 1.2vw;
	text-shadow: 2px 2px 3px black;
}


.footer-col .links-uteis li {
	font-size: 1.2vw;
	/*1.2*/
	padding: 0.3vw 0;
	/*0.7*/
	border-bottom: 1px solid #fff;
	text-shadow: 2px 2px 5px black;
}

.footer-col .links-uteis li a,
.footer-col .social li {
	font-size: 1.2vw;
	/*1.2*/
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

.sobre {
	text-shadow: 1px 1px 1px black;
}

.footer-col .links-uteis li a:hover,
.footer-col .social li a:hover {

	color: black;
}

.social .fa {
	padding: 10px 0;
	font-size: 2vw;
	margin-right: 5px;
	text-shadow: 3px 3px 3px black;


}

.footer-col ul li i {
	width: 60%;
}


.footer-col {
	width: 35%;
	/*30*/
	padding-left: 3.2vw;
	/*1.2*/
}

.footer-col:nth-child(2) {
	width: 28%;
	/*25*/

	margin-left: 2%;
	/*5*/
}

.footer-col:nth-child(3) {
	width: 25%;
	/*25*/

	float: right;
}

.func {
	list-style: disc;
}

.func li {
	padding-top: 0.5vw;
	font-size: 1.2vw;
}


/*-------------------------PÁGINA CONTATO----------------------------*/


#Cont {
	background-image: url(form.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 1.2vw;
	font-family: Franklin Gothic Heavy;
	color: white;
	text-shadow: 3px 3px black;
	padding-bottom: 3%;

}

form {
	background-color: rgba(28, 108, 158, 0.6);
	width: 65%;
	border-radius: 2vw;
	padding-top: 3%;
	padding-bottom: 3%;

}


input[type="text"] {

	border-radius: 5px;
	float: right;
	width: 17vw;

}

input[type="tel"],
input[type="email"] {
	border-radius: 5px;
	float: right;
	width: 14vw;
}

input[type="submit"],
input[type="reset"] {
	border-radius: 10px;
	width: 10%;

}

textarea {
	width: 25vw;
}

select {
	width: 8vw;
}

.hrCont {
	width: 100%;
}


/*-------------------------PÁGINA EMPRESA ----------------------------*/
.pEmpresa

/* parágrafo na página empresa */
	{
	color: white;
	padding-left: 1.2vw;
	padding-right: 1.2vw;
}

#bEmp

/*Body da página empresa*/
	{
	background-image: url();
	font-family: Verdana;
	font-size: 1.5vw;
}

hr {
	width: 60%;
}

.TitEmpresa {
	color: white;
	font-size: 4vw;
	text-align: center;
}

#equip {
	background-image: url("equipe.jpeg");
	/*	background-attachment: fixed;*/

	background-size: 100%;
	width: 100%;
	height: 50vw;

	border-radius: 0.5vw;
	border: solid 2px;

}

#mvv {
	color: white;
	font-size: 3vw;
	padding-top: 2vw;
	padding-left: 1vw;
	text-shadow: 2px 2px black;
}


.valores

/* classe para editar os ícones */
	{
	float: center;
	width: 18vw;
	height: 14vw;
}

/* DIV para centralizar o texto da página */
.txtCenter {
	width: 50%
}

.titEmpresa {
	font-size: 3vw;
}


/*-------------------------PÁGINA PERGUNTAS FREQUENTES----------------------------*/
#pFreq {
	background-image: url(conex.jpg);
	background-attachment: fixed;
	background-size: 100%;
	font-family: Arial;
}




.hidden {
	display: none;
	width: 50%;
	text-align: justify;
}


input[type="button"] {
	display: block;
	width: 50%;
	height: 4vw;
	font-family: Arial;
	font-size: 1.5vw;
	border-color: black;
	/*black*/
	border-radius: 1vw;
	background-color: rgba(79, 206, 79, 0.9);
	/*rgba(0, 0, 16, .9)*/

	color: white;
	border: 2px solid white;

}

input[type="button"]:hover {
	cursor: pointer;
	background: #abe1ed;
	text-shadow: 2px 1px black;
	border: 2px solid black;

}

#pg1,
#pg2,
#pg3,
#pg4,
#pg5,
#pg6,
#pg7,
#pg8,
#pg9,
#pg10,
#pg11,
#pg12,
#pg13,
#pg14,
#pg15 {
	border: 2px solid black;
	background-color: #fff;
	border-radius: 1vw;
	color: rgb(24, 150, 30);
	/*black*/
	text-align: left;
}




.pgt li {
	list-style: disc;
	margin-left: 25%;
	font-size: 1.2vw;

}


/*---------------------------------- PÁGINA PORTFOLIO ------------------------------------*/
#bEmpresa {
	background-image: url(fundoFour.jpg);
	background-size: 100%;
	font-family: Arial;
}



.imgPort {
	width: 20vw;
	height: 17vw;
}

.portDiv table {
	border-spacing: 5vw;
	width: 100%;

}

.portDiv td {
	width: 30vw;
}

.hidden2 {
	display: none;
	width: 90%;
	text-align: justify;
}

.titPrin2 h2 {
	font-family: Arial;
	font-size: 2vw;
	/*3*/
	background-color: #448a9e;
	color: #abe1ed;
	border-radius: 1.5vw;
	border: 2px solid black;
	width: 30%;
	/*35*/
	height: 3vw;
	/*4*/
	text-shadow: 2px 1px white;
}

.n_empresa h1 {
	font-size: 2vw;
}